#######################################################
## set initial values
#set ( $first = "&lt;&lt;" )
#set ( $prev = "&lt;" )
#set ( $next = "&gt;" )
#set ( $last = "&gt;&gt;" )
#set ( $maxLinks = 5 )

#set ( $pageNum = $BLOJSOM_PLUGIN_PAGER_CURRENT_PAGE )
#set ( $pageSize = $BLOJSOM_PLUGIN_PAGER_PAGE_SIZE )
#set ( $maxIndex = $BLOJSOM_PLUGIN_PAGER_TOTAL_PAGES )

#######################################################
## determine index boundaries

#set ( $startIndex = $pageNum - (($maxLinks - 1) / 2) )
#if ($startIndex < 1)
  #set ( $startIndex = 1 )
#end

#set ( $endIndex = $startIndex + $maxLinks - 1 )
#if ($endIndex > $maxIndex)
  #set ( $endIndex = $maxIndex )
  #if ($endIndex - $startIndex < $maxLinks - 1 && $endIndex - $maxLinks + 1 >= 1)
    #set ( $startIndex = $endIndex - $maxLinks + 1 )
  #end
#end

#######################################################
## Setup first and prev links

#if ($pageNum > 1)
  #set ( $textFirst = "<a href=?page-num=1>$first</a>" )
  #set ( $prevParam = $pageNum - 1 )
  #set ( $textPrev = "<a href=?page-num=$prevParam>$prev</a>" )
#else
  #set ( $textFirst = $first )
  #set ( $textPrev = $prev )
#end

#######################################################
#set ( $indices = [$startIndex..$endIndex] )
#set ( $textLinks = "" )
#foreach( $i in $indices )
  #if ( $i != $pageNum )
    #set ( $textLinks = "$textLinks <a href=?page-num=$i>$i</a>" )
  #else
    #set ( $textLinks = "$textLinks $i" )
  #end
  #set ( $textLinks = "$textLinks " )
#end

#######################################################
## Setup next and last links

#if ( $pageNum < $maxIndex )
  #set ( $nextParam = $pageNum + 1 )
  #set ( $textNext = "<a href=?page-num=$nextParam>$next</a>" )
  #set ( $textLast = "<a href=?page-num=$maxIndex>$last</a>" )
#else
  #set ( $textNext = $next )
  #set ( $textLast = $last )
#end

#######################################################
## Display the final navigation links

$textFirst $textPrev&nbsp;&nbsp;$textLinks&nbsp;&nbsp;$textNext $textLast